[submodule "src/bdd_dsl/metamodels"]
	path = src/bdd_dsl/metamodels
	url = https://github.com/hbrs-sesame/metamodels.git
[submodule "models"]
	path = models
	url = git@github.com:hbrs-sesame/models.git
